body
  color white
  background-color #002650

  input
    color black

  .search-content
    padding 20px 15px

    input[type="text"]
      width 100%

    button
      color #979797
      border none
      border-radius 10px
      background-color #FFFFFF

  .paragraph
    margin-bottom 20px

  .borderless, .borderless tbody tr, .borderless tbody td
    border none

  .table-hover tbody tr:hover td
      background-color #38577D

  .table-hover tbody tr:hover td:last-child
      background-color #793952
