body {
    margin: 0;
    padding: 20px;
    background-color: #002650;
    font-family: serif;
}

header {
    text-align: center;
    padding: 2em;
}

#search-form {
    width: 100%;
    margin-bottom: 20px;
}

#search-form div {
    background-color: gray;
    padding: 10px;
}

#search-form .wrapper {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#search-form input[type=text] {
    width: 100%;
    border: none;
    font-size: 2em;
}

#search-form img {
    float: left;
    width: 20px;
    padding-top: 0.5em;
}


/* Style for the placeholder text in the input field */

#search-form ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #FFFFFF;
}

#search-form :-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
}

#search-form ::-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: #FFFFFF;
}

#search-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

#partial-results {
    position: absolute;
    top: 173px;
    left: 60px;
    right: 30px;
    margin-right: auto;
    margin-left: auto;
    cursor: default;
    color: #000000;
    background-color: #FFFFFF;
}

#search-history {
    width: 100%;
    background-color: #2B4A7A;
    color: #FFFFFF;
    border-spacing: 0;
}

.search-item td {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
}

.search-item .search-term-td {
    padding-left: 30px;
    padding-right: 10px;
}

.search-item .date-td {

}

.search-item .remove-td {
    width: 30px;
    padding-left: 12px;
    min-width: 30px;
}

.search-item button {
    display: none;
    color: #979797;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.selected {
    background-color: #38577D;
}

.selected button {
    display: inline-block;
}

.selected .remove-td {
    background-color: #793952;
}
