<!doctype html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <!-- Needed for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search for countries</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <!-- build:css bower_components/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" href="bower_components/dist/css/bootstrap.css">
    <!-- /build -->
    <!-- App style sheet -->
    <!-- build:css main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- /build -->
</head>

<body>
    <div class="container-fluid">
        <div class="page-header text-center">
            <img src="assets/logo.svg" />
        </div>
        <div class="search-content" ng-controller="searchCtrl">
            <div class="paragraph row">
                <div class="col-xs-1 text-right">
                    <img src="assets/search.svg" />
                </div>
                <div class="col-xs-10">
                    <form ng-submit="search(searchText)">
                        <input id="search-input" ng-model="searchText" type="text" name="search" autocomplete="off" placeholder="Search for a country" class="form-control" uib-typeahead="country for country in partialSearch($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                        />
                    </form>
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="paragraph table-responsive borderless" ng-hide="searchHistory.length == 0">
                <table class="table table-hover borderless">
                    <tr class="clickable-row" ng-repeat="item in searchHistory">
                        <td>{{item.text}}</td>
                        <td>{{item.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                        <td class="text-center">
                            <button type="button" name="button">X</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- jQuery library -->
        <!-- build:js bower_components/dist/jquery.min.js -->
        <script src="bower_components/dist/jquery.js"></script>
        <!-- /build -->
        <!-- Latest compiled Bootstrap JavaScript -->
        <!-- build:js bower_components/dist/js/bootstrap.js -->
        <script src="bower_components/dist/js/bootstrap.js"></script>
        <!-- /build -->
        <!-- Angular libraries -->
        <!-- build:js ower_components/angular.min.js -->
        <script type="text/javascript" src="bower_components/angular.js"></script>
        <!-- /build -->
        <!-- build:js ower_components/angular-resource.min.js -->
        <script type="text/javascript" src="bower_components/angular-resource.js"></script>
        <!-- /build -->
        <!-- build:js ower_components/ui-bootstrap.min.js -->
        <script type="text/javascript" src="bower_components/ui-bootstrap.js"></script>
        <!-- /build -->
        <!-- build:js ower_components/ui-bootstrap-tpls.min.js -->
        <script type="text/javascript" src="bower_components/ui-bootstrap-tpls.js"></script>
        <!-- /build -->
        <!-- Application code -->
        <!-- build:js arbetsprov-search-feature.min.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/searchController.js"></script>
        <script src="scripts/services/countriesService.js"></script>
        <!-- /build -->
</body>

</html>
