<!doctype html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <!-- Needed for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search for countries</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <!-- build:css bower_components/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" href="bower_components/dist/css/bootstrap.css">
    <!-- /build -->
    <!-- App style sheet -->
    <!-- build:css main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- /build -->
</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <img src="UI/assets/logo.svg" />
        </div>
        <div ng-controller="searchCtrl">
            <div ng-hide="partialSearchResult.length">
                <ul>
                    <li ng-repeat="item in partialSearchResult">item</li>
                </ul>
            </div>
            <div class="row">
                <div id="search-form" class="col-*-12">
                    <div class="row">
                        <div class="col-*-1">
                            <img src="UI/assets/search.svg" />
                        </div>
                        <div class="col-*-11">
                            <input id="search-input" ng-keyup="partialSearch()" ng-model="searchText" type="text" name="search" autocomplete="off" placeholder="Search for a country" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-hide="searchHistory.length">
                <table class="table">
                    <tr ng-repeat="item in searchHistory">
                        <td>item.text</td>
                        <td>item.date</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="bower_components/dist/jquery.min.js"></script>
    <!-- Latest compiled Bootstrap JavaScript -->
    <!-- build:js bower_components/dist/js/bootstrap.js -->
    <script src="bower_components/dist/js/bootstrap.js"></script>
    <!-- /build -->
    <!-- Angular libraries -->
    <!-- build:js ower_components/angular.min.js -->
    <script type="text/javascript" src="bower_components/angular.js"></script>
    <!-- /build -->
    <!-- Application code -->
    <!-- build:js arbetsprov-search-feature.min.js -->
    <script src="src/scripts/app.js"></script>
    <!-- /build -->
</body>

</html>
